<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurants</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>

<body>
<!-- nav bar !-->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card" style="background-color:#ff2a05; color: #ff2a05; ">
        <a href="/home" class="w3-bar-item" style="color:#ff3f05;"><b>What</b> ToEat?</a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/home" class="w3-bar-item w3-button">Home</a>
            <a href="/admin/restaurants" class="w3-bar-item w3-button">Admin</a>

            <a  th:href="${'/user/view/' + user.id}" class="w3-bar-item w3-button">Profile</a>
            <a href="/logout" class="w3-bar-item w3-button">Logout</a>

        </div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal" th:action="@{/admin/restaurant/save}" enctype="multipart/form-data" method="POST">
        <br/>
        <div class="py-5 text-center blue">
            <h1>EDIT RESTAURANT</h1>
        </div>
        <input type="hidden" name="id" th:value="${restaurant.id}"/>

        <div class="form-group">
            <label class="control-label col-sm-2">Name:</label>
            <div class="col-sm-10">
                <input type="text" name="name" th:value="${restaurant.name}" id="name" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Description:</label>
            <div class="col-sm-10">
                <textarea name="description" th:text="${restaurant.description}" id="description" class="form-control"
                          rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Latitude:</label>
            <div class="col-sm-10">
                <input type="number" step="any" name="latitude" th:value="${restaurant.latitude}" id="latitude" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Longitude:</label>
            <div class="col-sm-10">
                <input type="number" step="any" name="longitude" th:value="${restaurant.longitude}" id="longitude" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Categories:</label>
            <div class="col-xs-2" th:each="category : ${restaurantCategories}">
                <input th:if=" ${restaurant.categories.contains(category)}" type="checkbox" name="categories"
                       id="category" th:value="${category.id}" th:text="${category.name}" checked="checked"/>

                <input th:if=" ${!restaurant.categories.contains(category)}" type="checkbox" name="categories"
                       id="categories" th:value="${category.id}" th:text="${category.name}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">City:</label>
            <div class="col-sm-10">
                <select name="city" id="city" class="form-control">
                    <option th:each="city : ${cities}"
                            th:value="${city.id}"
                            th:text="${city.name}"
                            th:selected="${city.id} == ${restaurant.city.id}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Level restaurant:</label>
            <div class="col-sm-10">
                <select name="levelRestaurant" id="levelRestaurant" class="form-control">
                    <option th:each="levelRestaurant : ${levelRestaurants}"
                            th:value="${levelRestaurant.id}"
                            th:text="${levelRestaurant.name}"
                            th:selected="${levelRestaurant.id} == ${restaurant.levelRestaurant.id}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Images:</label>

            <div class="row">
                <input type="file" name="file" th:value="${restaurant.photo}" id="photo" class="form-control"
                       multiple="multiple"/>
                <div class="col-sm-6 col-md-3">
                    <div class="card" th:each="photo : ${photos}">
                        <img class="thumbnail" th:src="@{'data:image/jpg;base64,' +  ${photo}}"/>
                    </div>
                </div>
            </div>
            <div th:each="image : ${images}">
                <a th:href="${'/admin/delete/photo/' + image.id}">Eliminar </a>
            </div>

        </div>

        <div class="text-center">
            <button type="sumbit" value="save" class="btn btn-primary btn-lg">SAVE</button>
        </div>
    </form>
</div>

<!-- Footer -->
<footer class="w3-center w3-white w3-padding-16" >
    <p style="color: #ff3f05;"> The best restaurant browser</p>
</footer>

</body>
</html>